

.box{
  height: 100%;
  background-color: white;
  box-shadow: 0 0 20px 1px rgb(131, 131, 131);
  margin-top: 10px;
}



.imagenl{
  display: flex;
  flex-direction: column;

 
}

.logincarusel{
  box-shadow: 0 0 20px 1px rgb(131, 131, 131);
  margin: 40px 0 20px 0;
  
  

 
  
}

.Opcionesdeingreso{
text-align: center;
font-size: 20px;
}

.IconL{
position: relative;
font-size: 40px;
}

.fontAIconL{
text-align: center;
color:rgb(131, 131, 131);
}

.checkboxL{
color: black;
}

.tx-carusel{
font-size: 20px;
}

.btn-ingresar{
  background-color: #feba0b;
  color: white;
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  overflow: hidden;
  border: 2px solid #feba0b;
}

.btn-ingresar:hover{
background-color: white;
color: #feba0b;
}


