.TituloPlanes {
  text-align: center;
}

.img-Planes {
  box-shadow: 0 0 20px 1px rgb(131, 131, 131);
}

.Planes {
  text-align: center;
}

/*Botones*/
.btn-Planes1 {
  background-color: #f79d10;
  color: white;
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  overflow: hidden;
  border: 2px solid #f79d10;
}
.btn-Planes1:hover {
  background-color: white;
  color: #f79d10;
 
}
.btn-Planes2 {
  background-color: #cd003d;
  color: white;
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  overflow: hidden;
  border: 2px solid #cd003d;
}
.btn-Planes2:hover {
  background-color: white;
  color: #cd003d;
}
.btn-Planes3 {
  background-color: #a7a800;
  color: white;
  min-width: 130px;
  height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  overflow: hidden;
  border: 2px solid #a7a800;
}
.btn-Planes3:hover {
  background-color: white;
  color: #a7a800;
}
