
/* Background Colors */
.footer {
    background-color: #feba0b !important;
  }
 .navbar{
  background-color: #feba0b !important;
 }  
  

  
  /* No products found */
  .no-products-found {
    height: 55vh !important;
  }
  
  