-webkit-text-size-adjust: 100%;
font-family: 'Montserrat', sans-serif;
color: #2A2A2A;
line-height: 1.6;
-webkit-box-sizing: border-box;
margin: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
text-decoration: none;
outline: 0;
background: #fff;
box-shadow: 0 0 8px rgba(0,0,0,0.2);
border-radius: 30px;
padding: 20px 0 0;
display: block;